@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  animation: spin 2.2s linear infinite;
  overflow: hidden;
  z-index: -1;
}

.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: inherit;
}

.loader::before {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #f0c868, #68e0f0);
  top: 0%;
  left: 0%;
}

.loader::after {
  width: 97%;
  height: 97%;
  background-color: #242424;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animacion-subir-bajar {
  animation: subirBajar 3s ease 3;
}

@keyframes subirBajar {
  0%,
  100% {
    transform: translateY(0); /* La imagen comienza en su posición original */
  }
  50% {
    transform: translateY(
      -20px
    ); /* La imagen sube 20 píxeles en la mitad de la animación */
  }
}
